<% content_for :page_heading_container do %>
    <div class="v_slog v_slo_on">
      <div class="container">
        <div class="row">
          <%= image_tag "application/aboutuspartnerbanner.jpg", class: "ab_port", alt: "" %>
          <h3 class="vt_s"><%= @partner.name %></h3>
          <p class="vt_p"><%= @partner.status %></p>
        </div>
      </div>
    </div>
<% end %>
















<section class="osn_colcont">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 honnco_le">

        <div class="row feeeww">

          <div class="col-md-12 col-sm-12 col-xs-12 het_t">
            <h3 class="nash_h3 aur_h3 jegio"><a href="#">Образование</a></h3>
            <% @partner.partner_educations.each do |partner_education| %>
                <div class="row gomi ob_ent">
                  <div class="col-md-12 col-sm-12 col-xs-12 gh_ot">
                    <a href="#" class="hid_gih"><%= partner_education.school_name %></a>
                    <p class="ferui"><%= partner_education.degree %></p>
                  </div>
                </div>
            <% end %>
          </div>

          <a href="#" class="gijefrt">Посмотреть проекты</a>

        </div>

        <div class="row partner-feedbacks">
          <h3 class="nash_h3 aur_h3 jegio"><a href="#">Отзывы</a></h3>
          <div class="bixderm">
            <ul class="bxs_one">

              <% @partner.company_feedbacks.each do |feedback| %>
                  <li>

                    <div class="gtl_inf gyti">
                      <p><%= feedback.comment %></p>
                    </div>
                    <%= image_tag "application/duzhki_23.jpg", class: "gt_lw", alt: "alt" %>

                    <h3 class="gtl_h3 homin">
                      <% if feedback.company_url.present? %>
                        <a href="<%= feedback.company_url %>"><%= feedback.name %></a>
                      <% else %>
                        <%= feedback.name %>
                      <% end %>
                    </h3>

                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12 honnco_r">
        <%= raw @partner.full_description %>

      </div>

    </div>
  </div>
</section>

<% if @partner.projects.any? %>
    <section class=" sec_pablic vn_bg">
    <section class=" sec_pablic vn_bg">
      <div class="container">


        <div class="row pabl_pagi giht">
          <h3 class="nash_h3 aur_h3 jegio"><a href="#">Ключевые проекты</a></h3>

          <div class="one_pagi">
            <% @partner.projects.each do |project| %>
                <a href="<%= project.url %>" class="progector"><%= project.name %></a>
            <% end %>
          </div>

        </div>
      </div>
    </section>
<% end %>

<% content_for :scripts do %>
<script type="text/javascript">
    $('.bxs_one').bxSlider({
        controls: true,
        pager: true
    });
</script>


<script type="text/javascript">
    $(function() {
        $('.m_nor').matchHeight();
    });
</script>


<script type="text/javascript">
    $(function() {
        $('.tt_bot').matchHeight();
    });
</script>
<script type="text/javascript">
    $(function() {
        $('.progector').matchHeight();
    });
</script>







<script type="text/javascript">
    (function() {

        $.fatNav();

    }());
</script>
<script type="text/javascript">
    $('.site-search__icon').click(function() {
        $('body').toggleClass('site-search--active');
    });
</script>

<% end %>











