








<section class=" m_event">
  <div class="container">
    <div class="row">
      <div class="ev_mants">
        <div class="ev_pafination">
          <h3 class="ev_dat">Ноябрь-декабрь 2015</h3>
          <a href="#" class="ex_pt"></a>
          <a href="#" class="ex_xt"></a>
        </div>

        <div class="plan_ot">
         <% @featured_events.each do |event| %>
              <%= render "event_list_item", event: event %>
          <% end %>
        </div>
      </div>

      <% if @completed_events.try(&:any?) %>
          <h3 class="nash_h3 aur_h3 hev"><a href="#">Прошедшие мероприятия</a></h3>


          <div class="plan_ot ev_prod">
            <% @completed_events.each do |event| %>
                <div class=" col-md-4 col-sm-4 col-xs-6 plan_tab evenut">
                  <a class="ak_plan" href="<%= event.url %>">
                    <h3 class="h3plan"><%= event.short_date %></h3>
                    <p><%= event.short_description %> </p>
                    <p class="plan_tow"><%= event.city %>  <span>/ <%= event.event_time %></span></p>
                    <p class="ev_zav">Завершено</p>
                  </a>
                </div>
            <% end %>
          </div>
      <% end %>




    </div>
  </div>
</section>
