<% content_for :page_heading do %>
    <h3 class="vt_s">О фирме</h3>
    <p class="vt_p">Кратко о нас</p>
<% end %>







<section class="main_about">
	<div class="container">
			<div class="row">
			<div class="cont_of col-md-7  col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12">
					<p class="abp_por">Каким бы сложным ни был Ваш проект, мы всегда готовы оказать всестороннюю поддержку</p>
				</div>
			</div>
	</div>
</section>


	<section class="eb_about">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 p_texegr ter_im bb_otori">
					<img src="/assets/application/aboutmus.jpg" alt="alt">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 p_oteb bb_otori">
					<h3 class="nash_h3 orieb ebae">Почему ОРИС?</h3>
					<p>Мы уверены, что юридическое консультирование само по себе не имеет ценности, если оно не является коммерчески обоснованным и не способствует развитию бизнеса. Именно поэтому наши юристы, помимо первоклассной юридической подготовки, имеют обширный опыт работы в различных сферах бизнеса и досконально владеют международной практикой. Это позволяет нам всегда предлагать действенные и эффективные решения для наших Клиентов.</p>
					<p>Мы гордимся тем, что к нам приходят со сложными и, казалось бы, неразрешимыми задачами,  а уходят с простыми решениями, четким проект-планом и твердой уверенностью в том, что команда ORIS справится с поставленными задачами наилучшим образом и в кратчайшие сроки. Это именно то, что делает нашу команду уникальной, а Клиентов – удовлетворенными. </p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12"></div>
				
			</div>
		</div>
	</section>







	<section class="compact_gtl li_of">
		<div class="container">
			<div class="row">
				<div class="gtl_b col-md-12 col-sm-12 col-xs-12 our_centr">
					<ul class="bxslidereeb">
						<li>
						<div class="row">
							<div class="gtl_b col-md3 col-sm-3 col-xs-12">
							<p class="u_namber">01</p>
							</div>
							<div class="gtl_b col-md2 col-sm-2 col-xs-12">
							<img class="caund_bg" src="/assets/application/count.png" alt="alt">							</div>
							<div class="gtl_b col-md6 col-sm-7 col-xs-12">
							<p class="tern_b">Полный спектр услуг: от корпоративного и коммерческого права до банковского и финансового права, разрешения споров и налогового</p>	
							</div>
						</div>
						</li>
						<li>
						<div class="row">
							<div class="gtl_b col-md3 col-sm-3 col-xs-12">
							<p class="u_namber">02</p>
							</div>
							<div class="gtl_b col-md2 col-sm-2 col-xs-12">
							<img class="caund_bg" src="/assets/application/count.png" alt="alt">							</div>
							<div class="gtl_b col-md6 col-sm-7 col-xs-12">
							<p class="tern_b">Мы всегда готовы оказать поддержку Клиенту, какой бы вызов ни стоял перед ним.</p>	
							</div>
						</div>
						</li>
						<li>
						<div class="row">
							<div class="gtl_b col-md3 col-sm-3 col-xs-12">
							<p class="u_namber">03</p>
							</div>
							<div class="gtl_b col-md2 col-sm-2 col-xs-12">
							<img class="caund_bg" src="/assets/application/count.png" alt="alt">							</div>
							<div class="gtl_b col-md6 col-sm-7 col-xs-12">
							<p class="tern_b">Сбалансированная и диверсифицированная клиентская база как залог стабильности фирмы: 70% клиентов фирмы – международные компании, 80% клиентов мы обслуживаем более 5 лет.</p>	
							</div>
						</div>
						</li>
						<li>
						<div class="row">
							<div class="gtl_b col-md3 col-sm-3 col-xs-12">
							<p class="u_namber">04</p>
							</div>
							<div class="gtl_b col-md2 col-sm-2 col-xs-12">
							<img class="caund_bg" src="/assets/application/count.png" alt="alt">							</div>
							<div class="gtl_b col-md6 col-sm-7 col-xs-12">
							<p class="tern_b">Наша команда – это специалисты с уникальным опытом как в профессиональном консалтинге, так и в качестве специалистов крупных организаций.</p>	
							</div>
						</div>
						</li>
						<li>
						<div class="row">
							<div class="gtl_b col-md3 col-sm-3 col-xs-12">
							<p class="u_namber">05</p>
							</div>
							<div class="gtl_b col-md2 col-sm-2 col-xs-12">
							<img class="caund_bg" src="/assets/application/count.png" alt="alt">							</div>
							<div class="gtl_b col-md6 col-sm-7 col-xs-12">
							<p class="tern_b">Знание и применение местного и иностранного (английского и американского) права, а также владение иностранными языками.</p>	
							</div>
						</div>
						</li>
						<li>
						<div class="row">
							<div class="gtl_b col-md3 col-sm-3 col-xs-12">
							<p class="u_namber">06</p>
							</div>
							<div class="gtl_b col-md2 col-sm-2 col-xs-12 bn_ot">
							<img class="caund_bg" src="/assets/application/count.png" alt="alt">							</div>
							<div class="gtl_b col-md6 col-sm-7 col-xs-12">
							<p class="tern_b">Широкая сеть партнеров во всем мире, что позволяет нам реализовывать проекты за пределами Казахстана.</p>	
							</div>
						</div>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="outside drimab">
			<span id="slider-prev"></span> <span id="slider-next"></span>
		</div>
	</section>




	<section class="nab_bor">
		<div class="container">
			<div class="row">
			<div class="tern_inf">
			<h3 class="nash_h3 orieb btoodor nobr"><a href="#">Почему нам доверяют?</a></h3>
			<p>На рынке много юридических фирм: крупных и мелких, локальных и международных, специализированных и широкого профиля. Когда мы основывали ORIS, мы взяли самое лучшее из этих форматов: сплоченность мелких фирм, слаженность бизнес-процессов крупных игроков, знание местной специфики локальных юристов, понимание международных стандартов  глобальных юрфирм, доскональное знание всех основных направлений права у «бутиков» и способность видеть «большую картину» у фирм широкого профиля. </p>
			<p>Затем добавили пять уникальных «ингредиентов» и получили фирму, которая стала больше, чем юридическим консультантом. Скорее, надежным партнером для наших клиентов, помогающим им в достижении поставленных бизнес-целей.</p>
			</div>
			</div>
		</div>
	</section>



<section class="abaut_premiu">
	<h3 class=" orieb ert_cen">ЧТО НАС ДЕЛАЕТ УНИКАЛЬНЫМИ НА РЫНКЕ</h3>
	<div class="pi_about"></div>
	<ul class="infobot">
		<li class="centribit"><img src="/assets/application/aboutusunique.png" alt="alt">
		<p>Наша философия</p>
		</li>
		<li class="centribit"><img src="/assets/application/aboutusunique2.png" alt="alt">
		<p>Постоянное развитие</p>
		</li>
		<li class="centribit"><img src="/assets/application/aboutusunique3.png" alt="alt">
		<p>Личное участие партнера фирмы в каждом проекте</p>
		</li>
		<li class="centribit"><img src="/assets/application/aboutusunique4.png" alt="alt">
		<p>Стабильность команды и фирмы</p>
		</li>
		<li class="centribit"><img src="/assets/application/aboutusunique5.png" alt="alt">
		<p>Мы инициируем новые проекты для клиентов</p>
		</li>
	</ul>
</section>





<section class="compani_m">


  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="nash_h3 orieb grtyu">Наша команда</h3>
      </div>
    </div>
    <div class="row f_poi">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="ghi1">
          <p>ORIS lawyers are recognized for their legal expertise, superb business judgment and outstanding service to clients. They all possess extensive experience in key practice areas and industries, having practical experience advising on both local and international law. </p>
          <p>Our team comprises of first-class lawyers trained in top universities in Kazakhstan, the USA, and the UK, and have significant experience working on global projects. This allows us to combine the local know-how with world-class services.   </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="cont_of">
          <p class="abp_por1">Каким бы сложным ни был Ваш проект, мы всегда готовы оказать всестороннюю поддержку</p>
        </div>
      </div>
    </div>


    <% if @partners.try(&:any?) %>
    <div class="row ub_ppart">
      <% @partners.each do |partner| %>
          <div class="col-md-6 col-sm-6 col-xs-12 gsim">
            <a href="<%= partner.url %>" class="ab_partn"><span class="wor_im"><%= partner.name %></span> <span class="wakp"><%= partner.status %></span></a>
            <div class="cont_gh">
              <%= raw partner.short_description_html %>
              <a class="uz getuz" href="<%= partner.url %>">Узнать больше<span>›</span> </a>
            </div>
          </div>
      <% end %>
    </div>
    <% end %>


    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="pred_eb">Если вы профессионал <span>Своего дела,</span> будем рады видеть Вас у себя в команде</p>
        <a href="Practices2.html" class="work__vak">Вакансии</a>
      </div>
    </div>


  </div>
</section>




<section class="pattner_b1">

	<div class="container">
			<div class="row">
				<h3 class=" orieb ert_cen">Наши клиенты и партнеры</h3>
				<div class="pi_about"></div>
				<p class="pper_spr">We work with some of the world's most successful and well-established banks and businesses, as well as state-owned entities, fast-growing entrepreneurial clients, and supranational organizations. We help them to grow their business in Kazakhstan and enter new markets. Some of them include: </p>
			 
			</div>
	</div>
</section>


<section class="pattner_b">

	<div class="container">
			<div class="row">
			<div id="owlpartner" class="owl-carousel owl-theme">
			  <div class="item slide cenito"><div class="slidepart"><p>Air <br>Liquide </p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Natixis</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Andrade Gutierrez</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>ONGC Videsh</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>ArcelorMittal</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Pilkington Plc</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Asian Development Bank</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Polyus Gold</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Astrium (EADS)</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Raiffeisen Leasing</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Axens</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Renaissance Capital</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Bank of America Merrill Lynch</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Roche</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Bank of China</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>RTS&MICEX</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>BNP Paribas (Suisse)</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Samruk Energy</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Canon</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>SK C&C</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Champion Technologies</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>SK Networks</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Citigroup</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Societe Generale</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Credit Suisse</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Solar Turbines</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Deutsche Bank</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Standard Bank</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Development Bank of Kazakhstan</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Standard Chartered Bank</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>ETS Commodity Exchange</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Sumitomo Mitsui Banking Corporation</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Eurasian Development Bank</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Tupperware</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>European Bank for Reconstruction and Development</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>UBS AG</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>GEFCO (Peugeot Group)</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Valenta Farm</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Kazakhtelecom</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Veolia</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Lehman Brothers</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>VK Architects</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Les Laboratoires</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Servier</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>VTB Capital</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Marubeni Corporation</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>World Bank</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Morgan Stanley</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Partner law fims</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Allen & Overy</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Chadbourne & Parke</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Cleary Gottlieb Steen & Hamilton</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Clifford Chance</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>DLA Piper</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Freshfields Bruckhaus Deringer</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Gide Loyrette Nouel</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Herbert Smith</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Hogan Lovells</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Jones Day</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Latham Watkins</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Linklaters</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Orrick</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Simmons & Simmons</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Skadden, Arps, Slate, Meagher & Flom</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Slaughter and May</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p>Squire Sanders</p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p></p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p></p></div></div>
			  <div class="item slide cenito"><div class="slidepart"><p></p></div></div>
			</div>
			 
			</div>
	</div>
<div class="customNavigation">
			  <a class="btn prev">Previous</a>
			  <a class="btn next">Next</a>
			  <a class="btn play">Autoplay</a>
			  <a class="btn stop">Stop</a>
			</div>
</section>





<section class="ret_eb">
	<div class="container">
			<div class="row">
				
				
			<div class=" col-md-12 col-sm-12 col-xs-12">
			<h3 class="nash_h3 orieb giret"><a href="#">Рейтинги</a></h3>
			<div class="see_conk">
				<p>Мы получили признание среди клиентов, как эффективная команда юристов, практикующих корпоративное, финансовое и налоговое право. Это отмечается в международных рейтингах: Chambers and Partners, Legal 500, IFLR (International Financial Law Review) 1000 и Asian Law Profiles.</p>
				<p>В 2012 году Chambers Global (The Client’s Guide) признал ORIS лидирующей фирмой по корпоративному праву и сделкам по слияниям и поглощениям (M&A) в Казахстане.</p>
				<p>В 2013 году Амир Тусупханов и Айтуар Мадин были признаны ведущими юристами в банковской и финансовой , корпоративной практике по версии IFLR1000.</p>
				<p>В 2014 году наша фирма рекомендована IFLR1000 в энергетической, финансовой и корпоративной практиках.</p>
				</div>
			</div>	
			</div>
			
				<div class=" row b_premii">
					<div class=" col-md-4 col-sm-4 col-xs-12 iconstot emt1">
					<img src="/assets/application/about-us_36.jpg" alt="alt">
					</div>
					<div class=" col-md-8 col-sm-8 col-xs-12 pokaz_ab bx_em emt1">
						<ul class="bxslipr">
							<li>
								<div class="gtl_inf">
									<p>Chambers Global (The Client’s Guide) признал ORIS лидирующей фирмой по корпоративному праву и сделкам по слияниям и поглощениям (M&A) в Казахстане</p>
								</div>
								<img class="gt_lw" src="/assets/application/linewhite.jpg" alt="alt">
								<h3 class="gtl_h3">Chambers Global</h3>
							</li>
							<li>
								<div class="gtl_inf">
									<p>Chambers Global (The Client’s Guide) признал ORIS лидирующей фирмой по корпоративному праву и сделкам по слияниям и поглощениям (M&A) в Казахстане</p>
								</div>
								<img class="gt_lw" src="/assets/application/linewhite.jpg" alt="alt">
								<h3 class="gtl_h3">Chambers Global</h3>
							</li>
							</ul>
					</div>
				</div>

								<div class="row b_premii">
					<div class=" col-md-4 col-sm-4 col-xs-12 iconstot emt2">
					<img src="/assets/application/about-us_39.jpg" alt="alt">
					</div>
					<div class=" col-md-8 col-sm-8 col-xs-12 pokaz_ab bx_em emt2">
						<ul class="bxslipr1">
							<li>
								<div class="gtl_inf">
									<p>Амир и Айтуар владеют хорошими знаниями казахстанского правового регулирования и готовы усердно работать для достижения целей в сжатые сроки</p>
								</div>
								<img class="gt_lw" src="/assets/application/linewhite.jpg" alt="alt">
								<h3 class="gtl_h3">IFLR1000</h3>
							</li>
							<li>
								<div class="gtl_inf">
									<p>Амир и Айтуар владеют хорошими знаниями казахстанского правового регулирования и готовы усердно работать для достижения целей в сжатые сроки</p>
								</div>
								<img class="gt_lw" src="/assets/application/linewhite.jpg" alt="alt">
								<h3 class="gtl_h3">IFLR1000</h3>
							</li>

							</ul>
					</div>
				</div>



				<div class=" row b_premii">
					<div class=" col-md-4 col-sm-4 col-xs-12 iconstot emt3">
					<img src="/assets/application/about-us_41.jpg" alt="alt">
					</div>
					<div class=" col-md-8 col-sm-8 col-xs-12 pokaz_ab bx_em emt3">
						<ul class="bxslipr2">
							<li>
								<div class="gtl_inf">
									<p>Отечественная фирма, которая построила отличную репутацию и является фаворитом по получению проектов от крупных международных юридических фирм</p>
								</div>
								<img class="gt_lw" src="/assets/application/linewhite.jpg" alt="alt">
								<h3 class="gtl_h3">Legal 500</h3>
							</li>
							<li>
								<div class="gtl_inf">
									<p>Отечественная фирма, которая построила отличную репутацию и является фаворитом по получению проектов от крупных международных юридических фирм</p>
								</div>
								<img class="gt_lw" src="/assets/application/linewhite.jpg" alt="alt">
								<h3 class="gtl_h3">Legal 500</h3>
							</li>

							</ul>
					</div>
				</div>





	</div>
</section>




<% content_for :scripts do %>
    <script src="/assets/application/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            var owl = $("#owlpartner");

            owl.owlCarousel({
                items : 6, //10 items above 1000px browser width
                itemsDesktop : [1000,5], //5 items between 1000px and 901px
                itemsDesktopSmall : [900,3], // betweem 900px and 601px
                itemsTablet: [600,1], //2 items between 600 and 0
                pagination: false,
                itemsMobile : false, // itemsMobile disabled - inherit from itemsTablet option
                autoPlay: true
            });

            $(".next").click(function(){
                owl.trigger('owl.next');
            })
            $(".prev").click(function(){
                owl.trigger('owl.prev');
            })
        });
    </script>
    <script src="/assets/application/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $('.bxslidereeb').bxSlider({
            nextSelector: '#slider-next',
            prevSelector: '#slider-prev',
            auto: true,
            pause: 5000,
            pager: true,
            nextText: 'Onward',
            prevText: 'Go back'
        });
    </script>
    <script type="text/javascript">
        $('.bxslipr').bxSlider({
            auto: true,
            pause: 5000,
            pager: true,
        });
    </script>
    <script type="text/javascript">
        $('.bxslipr1').bxSlider({
            auto: true,
            pause: 4800,
            pager: true,
        });
    </script>
    <script type="text/javascript">
        $('.bxslipr2').bxSlider({
            auto: true,
            pause: 4900,
            pager: true,
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider1').bxSlider({
                auto: true,
                pause: 5000,
                pager: false,
                slideWidth: 166,
                minSlides: 1,
                maxSlides: 6,
                slideMargin: 0
            });
        });
    </script>


    <script type="text/javascript">
        $(function() {
            $('.vak_ab').matchHeight();
        });
    </script>

    <script type="text/javascript">
        $(function() {
            $('.emt1').matchHeight();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('.emt2').matchHeight();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('.emt3').matchHeight();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('.centribit').matchHeight();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('.bb_otori').matchHeight();
        });
    </script>






<% end %>












