<% if @offices.try(&:any?) %>
    <section class="cont_main">
      <div class="container">
        <div class="row">
          <h3 class="nash_h3 aur_h3 d_kilo"><a href="#">Наши офисы</a></h3>

          <% @offices.each do |office| %>
              <div class="col-md-12 col-sm-12 col-xs-12 snb_cont">
                <div class="one_ofis">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 on_oth jior1">
                      <img src="<%= office.avatar.url(:contact_item) %>" alt="alt">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 ofil_inf jior1">
                      <div class="row getco">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                          <h3 class="test_i1 h_ofst gtht"><%= office.city %></h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <p class="soc_icon">
                            <% if office.social_facebook.present? %>
                                <a class="hf" href="<%= office.social_facebook %>"></a>
                            <% end %>
                            <% if office.social_twitter.present? %>
                                <a class="ft" href="<%= office.social_twitter %>"></a>
                            <% end %>
                            <% if office.social_linked_in.present? %>
                                <a class="hi" href="<%= office.social_linked_in %>"></a>
                            <% end %>
                          </p>
                        </div>
                      </div>

                      <div class="b_cont">
                        <p class="p_obof"><%= office.short_description %></p>
                        <ul class="conif_tow">
                          <li> <p> <%= office.address %></p>
                          </li>
                          <li>
                            <% office.phones.each do |phone| %>
                                <p>
                                  <a href="tel:<%= phone.remove(/\s/) %>" class="menuf_ikj"><%= phone %></a>
                                </p>
                            <% end %>

                          </li>
                          <li>
                            <% office.emails.each do |email| %>
                                <p>
                                    <a href="mailto:<%= email %>" class="mmlc"><%= email %></a>
                                </p>
                            <% end %>
                          </li>
                        </ul>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </section>
<% end %>


<section class="map_cont">
  <div class="container">
    <div class="row">
      <h3 class="nash_h3 aur_h3"><a href="#">Посмотреть на карте</a></h3>
    </div>
  </div>
  <div class="c_m">
    <div id="contact-map"></div>
  </div>
</section>







<section class="las_cont">
  <div class="container">
    <div class="row">
      <h3 class="nash_h3 aur_h3"><a href="#">Напишите нам</a></h3>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form_co">
          <form class="ff_for m_ing">
            <div class="g_cinf">
              <input name="name" type="text" class="feedback-input" placeholder="Имя">
              <input name="phone" type="text" class="feedback-input" placeholder="Номер телефона">
              <input name="email" type="text" class="feedback-input" placeholder="Електронная почта">
              <textarea name="text" class="feedback-input" placeholder="Сообщение..."></textarea>
            </div>
            <input type="submit" value="Отправить">
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="con_snt g_cinf">
          <h3 class="nash_h3 cont_inde"><a href="#">Хотите быть всегда в курсе наших новостей?</a></h3>
          <p class="cint_inf">Подпишитесь на нашу рассылку, чтобы первыми узнавать о новостях фирмы</p>
          <form class="oris_podoiska cont_poisk">
            <input name="email" type="text" class="feedback-input" placeholder="Email">
            <input type="submit" value="SUBMIT">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>




