<% content_for :custom_header do %>
    <%= render "home_header" %>
<% end %>



	<section class="eb_oris">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 p_tex ter_im">
					<%= image_tag "application/b_or.jpg", alt: "alt" %>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 p_ot">
					<h3 class="et_zah"><a href="#"> Почему ОРИС?</a></h3>
					<p>Выходя на рынок Казахстана или укрепляя свои позиции на нем, важно заручиться поддержкой надежного, компетентного и опытного партнера, который, с одной стороны, досконально знает местную специфику и ситуацию в стране, а с другой стороны, говорит с вами на одном языке и придерживается международных стандартов ведения бизнеса.</p>
					<a class="uz" href="about.html.erb">Узнать больше<span>&#8250;</span> </a>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12">
				</div>
			</div>
		</div>
	</section>



	<section class="caunt">
		<div class="container">
			<div class="row">
				<div>
					<div class="col-md-1 col-sm-1 col-xs-0 ">
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
					<span class="counter cat_namb" style="display: inline-block; width: 32%">10</span>
					<p class="coun_op">Лет опыта</p>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
						<%= image_tag "application/count.png", alt: 'alt', class: "caund_bg" %>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
					<span class="counter cat_namb" style="display: inline-block; width: 32%">215</span>
						<p class="coun_op">Проектов</p>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
						<%= image_tag "application/count.png", alt: 'alt', class: "caund_bg" %>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3 gert_ad">
					<div class="proc_cinm">
					<p><span class="counter cat_namb" style="display: inline-block; width: 32%">100</span></p><span class="tyiu">%</span></div>
					<p class="coun_op">Удовлетворенных клиентов</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="nash_opit">
		<div class="container">
			<div class="row">
			<h3 class="nash_h3"><a href="#"> Наш опыт</a></h3>
				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<%= image_tag "application/images56.jpg", alt: "alt" %>
						<div class="test_title">
							<a href="#">инфраструктурные проекты</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Проекты банков развития в Казахстане</a></h3>
					<p class="test_i2">Проектной компании в строительстве Балхашской ТЭС мощностью 1320 МВтс, с участием Самрук-Энерго и Samsung C&T (сумма </p>
					<div class="title_teg">
						<a class="tt_a" href="#">Корпоративная практика,</a>
						<a class="tt_a" href="#">Автомобильная промышленность</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<%= image_tag "application/imageproject_05.jpg", alt: "alt"%>
						<div class="test_title">
							<a href="#">Инвестиционные проекты</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Народные IPO и приватизация</a></h3>
					<p class="test_i2">Вексель последовательно вознаграждает дееспособный штраф. Информация бесконтрольно своевременно исполняет штраф. Вексель последовательно вознаграждает дееспособный </p>
					<div class="title_teg">
						<a class="tt_a" href="#">Судебная практика,</a>
						<a class="tt_a" href="#">Спорт</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<%= image_tag "application/imageproject_09.jpg", alt: "alt" %>
						<div class="test_title">
							<a href="#">Корпоративные сделки</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Крупнейшие проекты в урановой отрасли</a></h3>
					<p class="test_i2">Проектной компании в строительстве Балхашской ТЭС мощностью 1320 МВтс, с участием Самрук-Энерго и Samsung C&T (сумма инвестиций...</p>
					<div class="title_teg">
						<a class="tt_a" href="#">Налоговая практика,</a>
						<a class="tt_a" href="#">Спорт</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 tt_bot">	
				<div class="test_bc">
					<div class="tes_1">
						<%= image_tag "application/imageproject_10.jpg", alt: "alt"%>
						<div class="test_title">
							<a href="#">Финансовые сделки</a>
						</div>
					</div>
					<h3 class="test_i1"><a href="#">Проекты по дебютным выпускам Еврооблигаций</a></h3>
					<p class="test_i2">Вексель последовательно вознаграждает дееспособный штраф. Информация бесконтрольно своевременно исполняет штраф. Вексель последовательно вознаграждает дееспособный</p>
					<div class="title_teg">
						<a class="tt_a" href="#">Недропользование,</a>
						<a class="tt_a" href="#">Фармацевтика</a>
						<a class="tt_aroow" href="work_one.html"></a>
					</div>
				</div>
				</div>


			</div>
		</div>
	</section>


	<section class="our_services">
		<div class="container">
			<div class="row">
				<h3 class="nash_h3 aur_h3"><a href="#">Наши Услуги</a></h3>
				<div class="col-md-7 col-sm-9 col-xs-12 our_centr">



					<div class="obind_bx">
					<ul class="bx_px">
						<li>

							<div class="oik_bx">
								<h3 class="test_i1"><a href="Practices1.html"> Интеллектуальная собственность,
									информационные технологии</a></h3>
									<p>Сегодня этой практике отведена значительная роль в каждом бизнесе, который поддерживает тенденции развития и сбалансированного роста, и потребность в обеспечении и использовании прав интеллектуальной собственности растет с каждым днем.</p>
							</div>

						</li>
						<li>
							
							<div class="oik_bx">
								<h3 class="test_i1"><a href="Practices1.html">Интеллектуальная собственность,
										информационные технологии</a></h3>
										<p>Сегодня этой практике отведена значительная роль в каждом бизнесе, который поддерживает тенденции развития и сбалансированного роста, и потребность в обеспечении и использовании прав интеллектуальной собственности растет с каждым днем.</p>
							</div>
							
						</li>
						<li>
							
							<div class="oik_bx">
								<h3 class="test_i1"><a href="Practices1.html"> Интеллектуальная собственность,
									информационные технологии</a></h3>
									<p>Сегодня этой практике отведена значительная роль в каждом бизнесе, который поддерживает тенденции развития и сбалансированного роста, и потребность в обеспечении и использовании прав интеллектуальной собственности растет с каждым днем.</p>
							</div>
							
						</li>
						<li>
							
							<div class="oik_bx">
								<h3 class="test_i1"><a href="Practices1.html"> Интеллектуальная собственность,
									информационные технологии</a></h3>
									<p>Сегодня этой практике отведена значительная роль в каждом бизнесе, который поддерживает тенденции развития и сбалансированного роста, и потребность в обеспечении и использовании прав интеллектуальной собственности растет с каждым днем.</p>
							</div>
							
						</li>
						<li>
							
							<div class="oik_bx">
								<h3 class="test_i1"><a href="Practices1.html"> Интеллектуальная собственность,
									информационные технологии</a></h3>
									<p>Сегодня этой практике отведена значительная роль в каждом бизнесе, который поддерживает тенденции развития и сбалансированного роста, и потребность в обеспечении и использовании прав интеллектуальной собственности растет с каждым днем.</p>
							</div>
							
						</li>
					</ul>
					<div id="slide-counter"></div>
					</div>



				</div>
			</div>
		</div>
	</section>



	<section class="compact_gtl">
		<div class="container">
			<div class="row">
				<div class="gtl_b col-md-8 col-sm-9 col-xs-12 our_centr">
					<ul class="bxslidere">
						<li>

							<div class="gtl_inf">
								<p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. Еще до момента заключения договора конфиденциальность законодательно подтверждает обычай делового оборота. Регрессное требование, делая скидку на латентность данных правоотношений, требует индоссамент.</p>
							</div>
							<%= image_tag "application/linewhite.jpg", class: "gt_lw", alt: "alt" %>
							<h3 class="gtl_h3">Compact GTL Limited</h3>
						</li>
						<li>
							
							<div class="gtl_inf">
								<p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. Еще до момента заключения договора конфиденциальность законодательно подтверждает обычай делового оборота. Регрессное требование, делая скидку на латентность данных правоотношений, требует индоссамент.</p>
							</div>
							<%= image_tag "application/linewhite.jpg", class: "gt_lw", alt: "alt" %>
							<h3 class="gtl_h3">Compact GTL Limited</h3>
							
						</li>
						<li>
							
							<div class="gtl_inf">
								<p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. Еще до момента заключения договора конфиденциальность законодательно подтверждает обычай делового оборота. Регрессное требование, делая скидку на латентность данных правоотношений, требует индоссамент.</p>
							</div>
							<%= image_tag "application/linewhite.jpg", class: "gt_lw", alt: "alt" %>
							<h3 class="gtl_h3">Compact GTL Limited</h3>
							
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="outside">
			<span id="slider-prev"></span> <span id="slider-next"></span>
		</div>
	</section>





	<section class="pablick">
		<div class="container">
			<div class="row">
				<h3 class="nash_h3 aur_h3"><a href="#">ПУБЛИКАЦИИ</a></h3>
				<div class="cont_filtr">

					<ul class="menu_pab">
						<li><a href="#grew">Новости фирмы</a></li>
						<li><a class="p_activ" href="#grew">Статьи</a></li>
						<li><a href="#grew">Брошюры</a></li>
						<li><a href="#grew"> Правовые новости</a></li>
					</ul>



				</div>
			</div>


			<div class="row ">
				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/news2_13.jpg", alt: "alt"%>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">

							<h3>Конфиденциальный договор в XXI веке</h3>
							<p>20/07/2015</p>
							<p class="mo_new">Новое</p>
						</div>
					</div>
					</a>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/news2_15.jpg", alt: "alt" %>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">
							<h3>Антимонопольный вексель: основные моменты</h3>
							<p>20/07/2015</p>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/news2_17.jpg", alt: "alt" %>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">
							<h3>Дееспособный аккредитив: предпосылки</h3>
							<p>20/07/2015</p>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/newsimage_10.jpg", alt: "alt" %>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">
							<h3>Дееспособный аккредитив: предпосылки</h3>
							<p>20/07/2015</p>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/news2_24.jpg", alt: "alt" %>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">
							<h3>Безвозмездное изъятие как закон</h3>
							<p>20/07/2015</p>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/news2_25.jpg", alt: "alt" %>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">
							<h3>Правомерный закон — актуальная национальная задача</h3>
							<p>20/07/2015</p>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/newsf_26.jpg", alt: "alt" %>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">
							<h3>Диспозитивный страховой полис в XXI веке</h3>
							<p>20/07/2015</p>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 mor_pp">
				<a href="pablic_one.html">
					<%= image_tag "application/newsimage_23.jpg", alt: "alt" %>
					<div class="m_otsn">
						<div class="img_bgmo"></div>
					</div>
					<div class="mo_text m_nor">
						<div class="nn_st">
							<h3>Акцепт как Указ</h3>
							<p>20/07/2015</p>
						</div>
					</div>
					</a>
				</div>
			</div>


		</div>
	</section>




	<section class="s_plan">
		<div class="container">
		<div class="row">
			<h3 class="nash_h3 aur_h3"><a href="#"> МЕРОПРИЯТИЯ</a></h3>
		</div>
			<div class="row gi_plan">
				
				<div class="plan_ot">
				<div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
				<a class="ak_plan" href="event_one.html">
				<h3 class="h3plan">25/11</h3>
				<p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
				<p class="plan_tow">Астана  <span>/ 16:00</span></p>
				</a>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
				<a class="ak_plan" href="event_one.html">
				<h3 class="h3plan">27/11</h3>
				<p>Политическое учение Монтескье традиционно ограничивает классический коммунизм. Политическая коммуникация, тем более в условиях социально-экономического кризиса, </p>
				<p class="plan_tow">Алматы<span>/20:00</span></p>
				</a>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
				<a class="ak_plan" href="event_one.html">
				<h3 class="h3plan">30/11</h3>
				<p>Конфедерация сохраняет прагматический авторитаризм. Политическая культура неоднозначна. Политическое лидерство, особенно в условиях политической нестабильности,  </p>
				<p class="plan_tow">Алматы  <span>/ 16:00</span></p>
				</a>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
				<a class="ak_plan" href="event_one.html">
				<h3 class="h3plan">02/12</h3>
				<p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
				<p class="plan_tow">Астана  <span>/ 16:00</span></p>
				</a>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
				<a class="ak_plan" href="event_one.html">
				<h3 class="h3plan">25/11</h3>
				<p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
				<p class="plan_tow">Астана  <span>/ 16:00</span></p>
				</a>
				</div>
				<div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
				<a class="ak_plan" href="event_one.html">
				<h3 class="h3plan">25/11</h3>
				<p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. </p>
				<p class="plan_tow">Астана  <span>/ 16:00</span></p>
				</a>
				</div>
				</div>
			</div>
		</div>
	</section>
	

	<section class="s_map">
		<div class="container">
			<div class="row ">

			<h3 class="nash_h3 aur_h3 ffdrr"><a href="contact.html.erb">КОНТАКТЫ</a></h3>
			
			</div>
			
		</div>
		<%= image_tag "application/map_02.jpg", alt: "alt" %>
	</section>





  <div id="my_popup">
		  <div class="cent_blok_k">
		  <h3 class="pop_h">Заказать услугу</h3>
			<form class="ff_for popz">      
						  <input name="name" type="text" class="feedback-input" placeholder="Название компании*" /> 
						  <input name="name" type="text" class="feedback-input" placeholder="Сфера деятельности*" />   
						  <input name="name" type="text" class="feedback-input" placeholder="Контактное лицо*" /> 
						  <input name="phone" type="text" class="feedback-input" placeholder="Номер телефона*" />
						  <input name="email" type="text" class="feedback-input" placeholder="Електронная почта*" />
						  <textarea name="text" class="feedback-input" placeholder="Описание проекта/запроса*"></textarea>
						  <p class="ob_po">* Обязательные поля</p>
						  <input type="submit" value="Отправить"/>
						</form>
		  	<a href="#" class="my_popup_close ta_x">Close</a>
		  </div>
  </div>














<% content_for :custom_footer do %>
    <% render "home_footer" %>
<% end %>


<% content_for :scripts do %>

    <script type="text/javascript">
        $('.bxslidere').bxSlider({
            nextSelector: '#slider-next',
            prevSelector: '#slider-prev',
            auto: true,
            pause: 5000,
            pager: false,
            nextText: 'Onward',
            prevText: 'Go back'
        });
    </script>
    <%= javascript_include_tag "application/jquery.popupoverlay.js" %>

    <script type="text/javascript">

        (function($){
            $(document).ready(function(){

                //bxslider
                $('#slide-counter').prepend('<span class="current-index"></span> / ');

                var slider = $('.bx_px').bxSlider({
                    auto: true,
                    pager: false,
                    onSliderLoad: function (currentIndex){
                        $('#slide-counter .current-index').text(currentIndex + 1);
                    },
                    onSlideBefore: function ($slideElement, oldIndex, newIndex){
                        $('#slide-counter .current-index').text(newIndex + 1);
                    }
                });

                $('#slide-counter').append(slider.getSlideCount());

            });

        })(jQuery);

    </script>






















<% end %>













