
<% content_for :custom_header do %>
    <header class="top_header">
      <div class="header_topline">
        <div class="container">

          <div class="row row_baer">

            <div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
              <div class="inf_bootom">

              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 reht">
              <div class="logo">
                <a href="index.html"><img src="<%= images_root %>/logo.png" alt="alt"></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
              <div class="ob_inf">
                <%= other_locale_link %>
                <p class="soc_icon">
                  <a class="hf" href="#"></a>
                  <a class="ft" href="#"></a>
                  <a class="hi" href="#"></a>
                </p>

              </div>
            </div>
          </div>

        </div>

        <!--<div class="s_1hed">-->
          <!--<div class="container">-->
            <!--<div class="row post_ban">-->
              <!--<div class="tu_ban">-->
                <!--<ul class="bxslider second-main-banner">-->
                  <!--<li><a href="ebaut.html#recognition">-->
                    <!--<img src="<%= images_root %>/slide_03.jpg" alt="alt">-->
                    <!--<p class="s_slogan">A new breed of local firm, offering good advice and a strong dedication to client service” – Legal 500 (link to Recognition)  <span></span></p></a>-->
                  <!--</li>-->
                  <!--<li><a href="Practices1.html">-->
                    <!--<img src="<%= images_root %>/slide_03.jpg" alt="alt">-->
                    <!--<p class="s_slogan">Leading law firm with proven track of cutting-edge projects in the power and natural resources sectors (link to Our Services)<span></span></p> </a>-->
                  <!--</li>-->
                  <!--<li><a href="Practices1.html">-->
                    <!--<img src="<%= images_root %>/slide_03.jpg" alt="alt">-->
                    <!--<p class="s_slogan">Trusted legal advisor to financial development institutions (link to Our Services) <span></span> </p></a>-->
                  <!--</li>-->

                <!--</ul>-->

                <!--<div class="custom-thumbnails-wrap">-->
                  <!--<ul id="custom-thumbnails">-->
                    <!--<li><a data-slide-index="0" href="">1</a></li>-->
                    <!--<li><a data-slide-index="1" href="">2</a></li>-->
                    <!--<li><a data-slide-index="2" href="">3</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <%= render "home_slider" %>
      </div>
      <div class="hed_baner">
        <ul class="bxslider first-main-banner">
          <li>
            <div class=" bi had_bgimg"></div>
            <div class="hed_bgefect"></div>
          </li>
          <li>
            <div class=" bi had_bgimg"></div>
            <div class="hed_bgefect"></div>
          </li>
          <li>
            <div class=" bi had_bgimg"></div>
            <div class="hed_bgefect"></div>
          </li>

        </ul>
      </div>
    </header>

<% end %>















<section class="eb_oris">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 p_tex ter_im">
        <img src="<%= images_root %>/aboutmus.jpg" alt="alt">
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12 p_ot">
        <h3 class="et_zah"><a href="<%= about_path %>">Why ORIS?</a></h3>
        <p>“ORIS is a great firm in Kazakh law with advanced exposure in international law” – Asialaw Profiles </p>
        <p>ORIS combines an in-depth knowledge of local nuances with global standards of client service.
          We strive to be not just legal advisers, but rather trusted partners to help clients reach their business objectives. We possess unmatched business judgment to provide commercially sound solutions.
          With offices in Astana and Almaty, our dedicated team of first-class renowned law experts will cover a full spectrum of legal issues for your activities. </p>
        <a class="uz" href="<%= about_path %>">To learn more<span>&#8250;</span> </a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
      </div>
    </div>
  </div>
</section>



<section class="caunt">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-md-1 col-sm-1 col-xs-0 ">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
          <span class="counter cat_namb" style="display: inline-block; width: 32%">15</span>
          <p class="coun_op">Years of experience</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
          <img class="caund_bg" src="<%= images_root %>/count.png" alt="alt">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
          <span class="counter cat_namb" style="display: inline-block; width: 32%">300</span>
          <p class="coun_op">Projects</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gert_ad">
          <img class="caund_bg" src="<%= images_root %>/count.png" alt="alt">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 gert_ad">
          <div class="proc_cinm">
            <p><span class="counter cat_namb" style="display: inline-block; width: 32%">100</span></p><span class="tyiu">%</span></div>
          <p class="coun_op">Удовлетворенных клиентов</p>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @projects.try(&:any?) %>
    <section class="nash_opit">
      <div class="container">
        <div class="row">
          <h3 class="nash_h3"><a href="#">Our experience</a></h3>

          <% @projects.each do |project| %>
          <div class="col-md-6 col-sm-6 col-xs-12 tt_bot">
            <div class="test_bc">
              <div class="tes_1">
                <img src="<%= project.avatar.url(:projects_index) %>" alt="alt">
                <div class="test_title">
                  <a href="<%= project.url %>"><%= project.name %></a>
                </div>
              </div>
              <h3 class="test_i1"><a href="<%= project.url %>"><%= project.name %></a></h3>
              <p class="test_i2"><%= project.short_description %></p>
              <div class="title_teg">
                <a class="tt_a" href="work_one.html">Корпоративная практика,</a>
                <a class="tt_a" href="work_one.html">Автомобильная промышленность</a>
                <a class="tt_aroow" href="work_one.html"></a>
              </div>
            </div>
          </div>

         <% end %>


        </div>
      </div>
    </section>
<% end %>


<section class="our_services home-services">
  <div class="container">
    <div class="row">
      <h3 class="nash_h3 aur_h3"><a href="Practices1.html">Our Services</a></h3>
      <div class="col-md-7 col-sm-9 col-xs-12 our_centr">



        <div class="obind_bx">
          <ul class="bx_px">
            <li>

              <div class="oik_bx">
                <h3 class="test_i1"><a href="Practices1.html#practical1|services1|sectors1">
                  Antitrust</a></h3>
                <p>Almost all companies have to take into account the antimonopoly legislation requirements. Acquiring major assets, executing distribution agreements, introducing bonus and discount programs, advertising – all these arrangements (under certain conditions) may not be carried out until after the antimonopoly legislation compliance analysis, and in some cases – upon receipt of antimonopoly authorities’ approvals.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1"><a href="Practices1.html#practical2|services1|sectors1">Banking and Finance</a></h3>
                <p>Our Banking and Finance team comprises first-class specialists with extensive experience in managing complex projects, i.e. state strategic projects, providing consultations on a wide range of legal issues.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1"><a href="Practices1.html#practical3|services1|sectors1"> Commercial Practice</a></h3>
                <p>ORIS is recognized as a regional leader in legal support for medium and large businesses.
                  We consult clients in a variety of sectors, providing comprehensive legal support in complex projects as well as ongoing legal advice.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1"><a href="Practices1.html#practical4|services1|sectors1"> Corporate practice</a></h3>
                <p>Our corporate practice is considered to be among the leading ones in Kazakhstan. It includes top-notch lawyers who advise major international and Kazakhstani companies on a wide range of corporate issues. We are especially strong in advising on complex and innovative projects, including state strategic projects.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1"><a href="Practices1.html#practical5|services1|sectors1"> Customs Law and Foreign Trade</a></h3>
                <p>While export and import operations allow to gain a new market share and expand businesses, they are also associated with significant risks. Our role is to predict those risks, minimize them and shield our clients from encountering similar situations in the future.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical6|services1|sectors1">
                    Dispute Resolution
                  </a></h3>
                <p>We recommend our clients to act preventatively and avoid litigations. However, if it is not possible, our role is to promptly resolve the disputes and minimize the damage to our clients’ business.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical7|services1|sectors1">
                    Employment Law
                  </a></h3>
                <p>We have a wealth of experience in advising multinational corporations and national holdings on employment and migration issues, as well as relationships with trade unions and labor disputes regulation in Kazakhstan.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical8|services1|sectors1">
                    Environmental Law
                  </a></h3>
                <p>Our lawyers have accumulated comprehensive experience in the area of environmental law, having serviced a number of major industrial enterprises and state entities on various issues related to environmental protection.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical9|services1|sectors1">
                    Intellectual Property / Information Technologies
                  </a></h3>
                <p>Intellectual property is one of the most sensitive and often the most valuable assets of modern businesses. For this reason, the need to protect intellectual property rights and, therefore, to retain a reliable and competent consultant growth day by day.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical10|services1|sectors1">
                    Investment Projects Legal Support
                  </a></h3>
                <p>The firm has accumulated impressive experience in large-scale investment projects, which is especially important considering the favorable investment climate in Kazakhstan. Our employees have advised on investment projects in various sectors, totaling more than US$50 billion.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical11|services1|sectors1">
                    PPP and Infrastructure
                  </a></h3>
                <p>Our PPP practice is one of few specialized practices in Kazakhstan, which provides a full range of services for the implementation of investment projects using Public and Private Partnership mechanisms.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical12|services1|sectors1">
                    Real Estate and Construction
                  </a></h3>
                <p>Our knowledge and skills in all areas of property management, planning, construction, financing, and purchasing enable us to assist clients at every stage of real estate transactions.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical13|services1|sectors1">
                    Restructuring, Insolvency, and Bankruptcy
                  </a></h3>
                <p>Clients who appoint us on financial restructuring and insolvency matters need a recognized expert capable of quickly but thoroughly assessing the situation and suggesting a viable solution for the turnaround. Our seasoned lawyers team is a recognized leader in all facets of restructurings, workouts and insolvency matters, including both transactional and litigation matters.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical14|services1|sectors1">
                    Subsoil Use
                  </a></h3>
                <p>Subsoil use projects continue to gain momentum in the region, and ORIS team has one of the strongest credentials on the market. Our lawyers have substantial experience and deep insight into both the economic and technical aspects of the area.</p>
              </div>

            </li>
            <li>

              <div class="oik_bx">
                <h3 class="test_i1">
                  <a href="Practices1.html#practical15|services1|sectors1">
                    Tax Practice
                  </a></h3>
                <p>Years of experience and expertise accumulated by our team allow us to offer a wide range of optimal, commercially viable and sustainable solutions in the area of tax planning, M&A transactions, corporate restructuring, comprehensive support of foreign operations and disputes with regulatory authorities.</p>
              </div>

            </li>

          </ul>
          <div id="slide-counter"></div>
        </div>



      </div>
    </div>
  </div>
</section>



<section class="compact_gtl">
  <div class="container">
    <div class="row">
      <div class="gtl_b col-md-8 col-sm-9 col-xs-12 our_centr">
        <ul class="bxslidere">
          <li>

            <div class="gtl_inf">
              <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. Еще до момента заключения договора конфиденциальность законодательно подтверждает обычай делового оборота. Регрессное требование, делая скидку на латентность данных правоотношений, требует индоссамент.</p>
            </div>
            <img class="gt_lw" src="<%= images_root %>/linewhite.jpg" alt="alt">
            <h3 class="gtl_h3">Compact GTL Limited</h3>

          </li>
          <li>

            <div class="gtl_inf">
              <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. Еще до момента заключения договора конфиденциальность законодательно подтверждает обычай делового оборота. Регрессное требование, делая скидку на латентность данных правоотношений, требует индоссамент.</p>
            </div>
            <img class="gt_lw" src="<%= images_root %>/linewhite.jpg" alt="alt">
            <h3 class="gtl_h3">Compact GTL Limited</h3>

          </li>
          <li>

            <div class="gtl_inf">
              <p>Рефинансирование исполнено. Перестрахование косвенно индоссирует преддоговорный закон. Еще до момента заключения договора конфиденциальность законодательно подтверждает обычай делового оборота. Регрессное требование, делая скидку на латентность данных правоотношений, требует индоссамент.</p>
            </div>
            <img class="gt_lw" src="<%= images_root %>/linewhite.jpg" alt="alt">
            <h3 class="gtl_h3">Compact GTL Limited</h3>

          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="outside">
    <span id="slider-prev"></span> <span id="slider-next"></span>
  </div>
</section>



<% if @publications.try(&:any?) %>
    <section class="pablick">
      <div class="container">
        <div class="row">
          <h3 class="nash_h3 aur_h3"><a href="#">Publications</a></h3>
          <div class="cont_filtr">

            <ul class="menu_pab">
              <li><a href="#grew">Firm’s News</a></li>
              <li><a class="p_activ" href="#grew">Articles</a></li>
              <li><a href="#grew">Brochures</a></li>
              <li><a href="#grew">Legal alerts</a></li>
            </ul>



          </div>
        </div>


        <div class="row ">
          <% @publications.each do |publication| %>
              <%= render "publication_list_item", publication: publication %>
          <% end %>
        </div>


      </div>
    </section>
<% end %>


<% if @events.try(&:any?) %>
    <section class="s_plan">
      <div class="container">
        <div class="row">
          <h3 class="nash_h3 aur_h3"><a href="#">Events</a></h3>
        </div>
        <div class="row gi_plan">

          <div class="plan_ot">

            <% @events.each do |event| %>
                <%= render "event_list_item", event: event %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
<% end %>

<section class="s_map">
  <div class="container">
    <div class="row ">

      <h3 class="nash_h3 aur_h3 ffdrr"><a href="contact.html">Contacts</a></h3>

    </div>

  </div>
  <img src="<%= images_root %>/map_02.jpg" alt="alt">
</section>



<% content_for :custom_footer do %>
    <footer>
      <div class="container">
        <div class="row foot_ot">
          <div class=" col-md-5 col-sm-5 col-xs-12 f_f_right">

            <div class="foot_form">
              <h3 class="fot_slogan">Напишите нам!</h3>
              <form class="ff_for">
                <input name="name" type="text" class="feedback-input" placeholder="Имя" />
                <input name="phone" type="text" class="feedback-input" placeholder="Номер телефона" />
                <input name="email" type="text" class="feedback-input" placeholder="Електронная почта" />
                <textarea name="text" class="feedback-input" placeholder="Сообщение..."></textarea>
                <input type="submit" value="Отправить"/>
              </form>
            </div>
          </div>
          <div class=" col-md-7 col-sm-7 col-xs-12 ll_inf ">
            <h3 class="slog_part">Будем рады сотрудничеству</h3>
            <div class="row">
              <div class=" col-md-5 col-sm-5 col-xs-5  ad_bol">
                <h3 class="f_tawn"><a href="contact.html">Офис в Астане</a></h3>
                <ul class="f_inf_ad">
                  <li> <p>Astana, 27, Syganak&nbsp;Street, Peking&nbsp;Palace&nbsp;Business&nbsp;Center (11th floor) 010000 Astana, Kazakhstan</p>
                  </li>
                  <li><p>+7 7172 539 277</p>
                    <p>+7 7172 539 275</p>
                  </li>
                  <li><p>nfo@orislegal.com</p> </li>
                </ul>
              </div>
              <div class=" col-md-2 col-sm-2 col-xs-2 ad_bot">
              </div>
              <div class=" col-md-5 col-sm-5 col-xs-5 ad_bol">
                <h3 class="f_tawn"><a href="contact.html">Офис в Алматы</a></h3>
                <ul class="f_inf_ad">
                  <li> <p>Almaty, 188 Dostyk Ave., Kulan&nbsp;Business&nbsp;Center (8th floor), Office 805 050059, Almaty, Kazakhstan
                  </p>
                  </li>
                  <li><p>+7 727 330 23 23</p>
                    <p>+7 727 259 62 63</p>
                  </li>
                  <li><p>nfo@orislegal.com</p> </li>
                </ul>
              </div>
            </div>
          </div>


        </div>

      </div>
      <div class="bot_footer">
        <div class="container">
          <div class="row ">
            <div class=" col-md-12 col-sm-12 col-xs-12">
              <p class="f_copi">© «ORIS» 2015. Все права защищены.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
<% end %>





<% content_for :scripts do %>
    <%= javascript_include_tag "pages/index.js" %>
<% end %>















