	<section class="pob_sech">
		<div class="container">
			<div class="row">

			<div class="col-md-4 col-sm-4 col-xs-12">
			<h3 class="po_hp">Фильтр Практик</h3>
		  <select name="sources" id="sources" class="custom-select sources" placeholder="Все виды практик">
		    <option value="profile">Все виды практик</option>
		    <option value="word">Все виды практик</option>
		    <option value="hashtag">Все виды практик</option>
		  </select>
			</div>


			<div class="col-md-4 col-sm-4 col-xs-12">
			<h3 class="po_hp">Фильтр Отраслей</h3>
		  <select name="sources" id="sources" class="custom-select sources" placeholder="Автомобильная промышленность">
		    <option value="profile">Все виды практик</option>
		    <option value="word">Все виды практик</option>
		    <option value="hashtag">Все виды практик</option>
		  </select>
			</div>


			<div class="col-md-4 col-sm-4 col-xs-12">
			<h3 class="po_hp">Сортировка</h3>
				
			<div class="otr_se">
			<div class="gu_t1">
		  <select name="sources" id="sources" class="custom-select sources" placeholder="По дате">
		    <option value="profile">Все виды практик</option>
		    <option value="word">Все виды практик</option>
		    <option value="hashtag">Все виды практик</option>
		  </select>
		  </div>
		  <div class="gu_t2">
		  <a href="#" class="lin_top"></a>
		  <a href="#" class="lin_boot"></a>
		  </div>
		  </div>
			</div>
			</div>
		</div>
	</section>


	<section class=" sec_pablic">
		<div class="container">
			<div class="row">
			<div class="ob_pab">
				<div class="cont_filtr">
					<ul class="menu_pab pab_pabl batot">
                      <% categories_tabs(ProjectCategory, projects_path).each do |tab| %>
                          <li><a href="<%= tab[:url] %>" class="<%= "p_activ" if tab[:active] %>"><%= tab[:name] %></a></li>
                      <% end %>
					</ul>
				</div>
			</div>
			</div>
			<div class="row">
			<h3 class="work_zah"><%= total_projects_count %></h3>




				<% @projects.each do |project| %>

                    <div class="col-md-6 col-sm-6 col-xs-12 tt_bot">
                    <div class="test_bc">
                        <div class="tes_1">
                            <img src="/assets/application/imageproject_10.jpg" alt="alt">
                            <div class="test_title">
                                <a href="#"><%= project.project_category.name %></a>
                            </div>
                        </div>
                        <h3 class="test_i1"><a href="<%= project.url %>"><%= project.name %></a></h3>
                        <p class="test_i2"><%= project.short_description %></p>
                        <div class="title_teg">
                            <a class="tt_a" href="#">Недропользование,</a>
                            <a class="tt_a" href="#">Фармацевтика</a>
                            <a class="tt_aroow" href="work_one.html"></a>
                        </div>
                    </div>
                    </div>

                <% end %>


			</div>
			<div class="row pabl_pagi">
				<div class=" pos_pub pPpubl">
					<a href="#">
						<p>Читать</p>
						<h3>Новости фирмы</h3>
						<span></span>
					</a>
				</div>
				<div class=" pos_pub pPpubr">
					<a href="#">
						<p>Читать</p>
						<h3>Новости фирмы</h3>
						<span></span>
					</a>
				</div>
			</div>
		</div>
	</section>





























