<div class=" col-md-4 col-sm-4 col-xs-6 plan_tab">
  <a class="ak_plan" href="<%= event.url %>">
    <h3 class="h3plan"><%= event.short_date %></h3>
    <p><%= event.short_description %> </p>
    <p class="plan_tow"><%= event.city %>  <span>/ <%= event.event_time %></span></p>
  </a>
</div>