<footer>
  <div class="container">
    <div class="row foot_ot">

      <div class=" col-md-4 col-sm-4 col-xs-12">
        <a class="foot_logo" href="#">
          <%= image_tag "application/logofooter.png", alt: "alt" %>
        </a>
      </div>
      <div class=" col-md-4 col-sm-4 col-xs-6">
        <h3 class="tu_foot">Подписка на новости от ORIS</h3>
        <form class="oris_podoiska">
          <input name="email" type="text" class="feedback-input" placeholder="Email" />
          <input type="submit" value="SUBMIT"/>
        </form>
      </div>
      <div class=" col-md-4 col-sm-4 col-xs-6">
        <h3 class="tu_foot f_wor">Будем рады сотрудничеству!</h3>
        <a class="foo_chek my_popup_open" href="#">Заказать услугу</a>
      </div>


    </div>

  </div>
  <div class="bot_footer">
    <div class="container">
      <div class="row ">
        <div class=" col-md-12 col-sm-12 col-xs-12">
          <p class="f_copi">© «ORIS» 2015. Все права защищены.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="my_popup" class="popup">
  <div class="cent_blok_k">
    <h3 class="pop_h"><%= t("layout.popups.order_service") %></h3>

    <%= simple_form_for order_service_request, url: order_service_path, html: {class: "ff_for popz"} do |f| %>
        <% f.with_options label: false, placeholder: true, class: "feedback-input" do |f|  %>
        <%= f.input_field :company_name, placeholder: true, required: true %>
        <%= f.input_field :activity_scope, required: true %>
        <%= f.input_field :contact_person %>
        <%= f.input_field :phone %>
        <%= f.input_field :email %>
        <%= f.text_field :description %>
        <p class="ob_po"><%= t("simple_form.messages.all_fields_required") %></p>
        <%= f.button :submit, t("simple_form.helpers.defaults.submit") %>



        <% end %>
    <% end %>

    <a href="#" class="my_popup_close ta_x"><%= t("layout.popups.close") %></a>

  </div>
</div>