<header class="top_header bgheight bg_be">
  <div class="header_topline">
    <div class="container">

      <div class="row row_baer">

        <div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
          <div class="inf_bootom">


          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="logo">
            <a href="<%= root_path %>">
              <%= image_tag "application/logo.png", alt: "alt" %>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
          <div class="ob_inf">
            <%= other_locale_link %>
            <p class="soc_icon">
              <a class="hf" href="#"></a>
              <a class="ft" href="#"></a>
              <a class="hi" href="#"></a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <% if content_for?(:page_heading_container) %>
      <%= content_for(:page_heading_container) %>
  <% else %>
      <div class="v_slog">
        <div class="container">
          <div class="row">
            <%= page_heading %>
          </div>
        </div>
      </div>
  <% end %>

</header>

