<div class="fdjjk nav-menu">
  <div class="container grkk">
    <div class="row">
      <div class="mobilenav">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 inf_menu">
              <div class="inf_bootom">

              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="logo">
                <a href="<%= root_path %>">
                  <%= image_tag "application/logowhite.png", alt: "alt" %>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 soc_inf">
              <div class="ob_inf">
                <a class="mow mow_pop" href="#">En</a>
                <p class="soc_icon soc_icon_pop">
                  <a class="hf" href="#"></a>
                  <a class="ft" href="#"></a>
                  <a class="hi" href="#"></a>
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="grui">
          <ul class="pp_n">
            <% menu_items.each do |item| %>
                <li>
                  <% if item[:clickable] %>
                    <a class="<%= 'm_activ' if item[:active] %>" href="<%= item[:url] %>"><%= item[:name] %></a>
                  <% else  %>
                    <span class="<%= 'm_activ' if item[:active] %>"><%= item[:name] %></span>
                  <% end %>

                </li>
            <% end %>


          </ul></div>
        <div class="st_ppmenu">
          <div class="container">
            <div class="row">

              <a class="foo_chek v_menuz my_popup_open" href="#">Заказать услугу</a>
              <div class="col-md-10 col-sm-10 col-xs-12 ttm_t ">
                <a href="tel:" class="menu_tel">
                  <span>+7 7172 539 277</span>
                  <span>+7 7273 30 2323 </span>
                  <span>+7 7272 59 6263</span>
                  <span>+7 7172 539 275</span>
                </a>

                <a href="mailto:" class="pail_pp">info@orislegal.com</a>

              </div>
            </div>
          </div>
        </div>

      </div>
      <a href="javascript:void(0)" class="icon">
        <div class="hamburger">
          <div class="menui top-menu"></div>
          <div class="menui mid-menu"></div>
          <div class="menui bottom-menu"></div>
        </div>
      </a>
    </div>
  </div>
</div>