<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <%= seo_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="shortcut icon" href="favicon.png" />

  <link rel="stylesheet" href="/assets/application.css" />



</head>

<body>
    <% if content_for?(:custom_header) %>
        <%= content_for :custom_header %>
    <% else %>
        <%= render "header" %>
    <% end %>

    <%= render "menu" %>
    <%= render "search" %>

    <%= yield %>

    <% if content_for?(:custom_footer) %>
        <%= content_for(:custom_footer) %>
    <% else %>
        <%= render "footer" %>
    <% end %>

    <%= render "scripts" %>
</body>
</html>